@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Beginner Yoga</h1>
    <img src= "/img/warriorone.jpeg" alt="">
    " alt="yoga pose">
    <p>Yoga is for all types of people in all stages of life. I began my yoga hobby in earnest at BYU through their integrated SWELL classes. Attending my yoga class only twice a week I came to a realization was not enough. I began practicing moves on my own based on class instruction. My favorite part is the feeling of stretching my body. Some people might understand that as flexibility but I have realized the true stretch of lengthening and twisting.</p>
    <img src= "/img/yogatree.jpeg" alt="">

    <p>Yoga is an ancient practice that originated in India and combines physical postures, breathing exercises, and meditation to connect the body, mind, and spirit. Today it is widely used to improve flexibility, strength, and mental well‑being, while still retaining its roots as a holistic path toward self‑awareness and inner peace.</p>
</div>